

<!-- Main home page html   -->

{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}


<h1>Christian's Flask App</h1>

<p>Welcome! My name is Christian Astudillo</p>

<p>I am a Population Health Data Science Manager for Capital Blue Cross</p>

<p>I am currently married and own a small zoo (4 Dogs 2 Cats): </p>

<img style = "max-width: 20%; height: auto;" src="/static/fur_animals.jpg"/>

<p></p>
<p></p>

<p>My spirit animal is a sloth =)</p>

<img style = "max-width: 20%; height: auto;" src="/static/sloth.jpg"/>

{% endblock %}



