<!-- Projects html 
     Many of the projects that i have are work related and contains PHI information, 
     Instead i created a github account with the intent of adding this flask app as my first project
     I considered adding my schoolwork onto github, however i am afraid future students may use it for plagerism

-->

{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<center>

    <h1> Projects </h1><br>
    
</center>

<img style = "max-width: 20%; height: auto;"" src='static/GIT.png'>
<p> &nbsp; &nbsp; &nbsp; &nbsp; You can view my github repository <a href = "https://github.com/nyzfineze">here</a>.</p>
{% endblock %}

