<!-- resume page html   -->


<!-- Template and css code was obtained from https://sampleresumetemplate.net/ 
     Edits were made to fit the page with my specific needs, such as updating the css to get additional education lines. 
     Also removed the download pdf link and added my linkedin picture to fullfill the image requirement of the resume page
-->

{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Christian Astudillo | Population Health Data Science, Manager | cdastudillo@outlook.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="/static/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Christian Astudillo</h1>
					<h2>Population Health Data Science, Manager</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<!-- <h3><a id="pdf" href="/static/sloth.jpg">Download PDF</a></h3> -->
						<h3><a href="mailto:cdastudillo@outlook.com">cdastudillo@outlook.com</a></h3>
						<h3>(610) - 203-2522</h3>
                        <h3><img style = "max-width: 40%; height: auto;" src="/static/CA.jpg"/> </h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Experienced problem-solver with consulting experience utilizing various research methodologies and analytic techniques in a wide range of applications (e.g., BHRS, Higher Education, Government Logistics, Health Insurance).  
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Mentorship</h2>
									<p>Mentoring aspiring data analysts and data scientists to develop data products utilizing a variety of tools	</p>
								</div>

								<div class="talent">
									<h2>Analytics</h2>
									<p>Provide research and methodology designs to best fit the business question	 </p>
								</div>

								<div class="talent">
									<h2>Project Direction</h2>
									<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>R</li>
								<li>SQL</li>
								<li class="last">Python</li>
							</ul>

							<ul class="talent">
								<li>Power BI</li>
								<li>Tableau</li>
								<li class="last">GGPlot</li>
							</ul>

							<ul class="talent">
								<li>Excel</li>
								<li>Windows</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Capital Blue Cross</h2>
								<h3>Population Health Data Science Manager</h3>
								<h4>2019-Current</h4>
								<p>Developed efficient and effective data products to meet all population health business needs. Lead a team of data analysts and data scientists to find insights that will allow us to enhance the member experience. </p>
							</div>

							<div class="job">
								<h2>Unity Technologies</h2>
								<h3>Business Data Analyst</h3>
								<h4>2018-2019</h4>
								<p> Introduced new analytic tools to DLA HQ in order to optimize reports. Successfully executed the 100% inventory tracking program for E&Y audit requests. </p>
							</div>

							<div class="job">
								<h2>Laurel Life</h2>
								<h3>Behavior Specialist Consultant</h3>
								<h4>2015-2018</h4>
								<p> Introduced statistical methods for determining changes in behavior. Successfully executed program interventions utilizing functional behavior analysis methods. </p>
							</div>


							<div class="job last">
								<h2>The Apartment Store</h2>
								<h3>Marketing Intern</h3>
								<h4>2013-2014</h4>
								<p>Helped develop innovative marketing strategies to get college students interested in off campus housing. Collected survey data to analyze student opinions on off campus housing.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">

						<div class="yui-u first">
							<h2>Education</h2>
						</div>
                        <div class="yui-u">

						<div class="ed">
							<h2>Shippensburg University - Shippensburg, Pennsylvania</h2>
							<h3>Psychology Major &mdash; <strong>3.50 GPA</strong> </h3>
                            
						</div>

                    
                    <div class="ed">
                        
                        <h2>Shippensburg University - Shippensburg, Pennsylvania</h2>
                        <h3>Psychological Sciences Masters &mdash; <strong>3.50 GPA</strong> </h3>
                    </div>

                    <div class="ed last">
                        
                        <h2>Eastern University - Saint Davids, Pennsylvania</h2>
                        <h3>Data Science Masters &mdash; <strong>4.0 GPA</strong> </h3>
                    </div>

                    </div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Christian Astudillo &mdash; <a href="cdastudillo@outlook.com">cdastudillo@outlook.com</a> &mdash; (610) - 203-2522</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>


{% endblock %}

